<div class="practice-box">
  <div class="options">
    <span class="fa fa-line-chart"></span>
  </div>
  <div class="question">
    HELLO
  </div>
  <div class="answer">
    <span class="fa fa-chevron-right"></span>
    <input type="text" value="HELLO">
    <span class="fa fa-check"></span>
  </div>
  <div class="feedback">
    <span class="fa fa-check"></span>
    <span class="fa fa-times"></span>
    <span class="question">Question</span>
    <span class="answer incorrect">hello</span>
    <span class="answer correct">Hello</span>

  </div>
</div>
