<div class="container" style="margin: 0">
  <div class="main">
    <div class="front" [ngClass]="{'active' : showFront}">
      <div class="language">{{element.questionLanguage}} <span class="fa fa-long-arrow-right"></span> {{element.anwserLanguage}}</div>
      <div class="word">{{ element.question }}</div>
      <div class="data">
        <span class="title">Stats</span>
        <div class="stats">
          <label>#fout: <span>{{element.wordStatsTO.knowledgeCounterMiss}}</span></label>
          <label>#juist: <span>{{element.wordStatsTO.knowledgeCounterSuccess}}</span></label>
        </div>

        <div class="navigation">
          <button class="btn btn-primary" (click)="turn()"><span class="fa fa-rotate-left"></span></button>

        </div>
      </div>
      <div class="progress"></div>
    </div>
    <div class="back" [ngClass]="{'active' : !showFront}">
      <div class="language">{{element.anwserLanguage}} <span class="fa fa-long-arrow-right"></span> {{element.questionLanguage}}</div>
      <div class="answer">
        <h2>{{element.answer}}</h2>
      </div>
      <div class="navigation">
        <button class="btn btn-primary" (click)="turn()"><span class="fa fa-rotate-left"></span></button>
      </div>
    </div>
  </div>
</div>
