@import "colors-main";

$height: 170px;
$width: 250px;

.main {
  width: $width;
  height: $height;
  margin: 15px 0;
  position: relative;

  //setup card + animation
  .front, .back {
    background: rgba(0,0,0,0.5);
    border: 1px solid;
    position: absolute;
    height: $height;
    width: $width;
    transition: 0.5s all ease;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    backface-visibility: hidden;

    .language {
      font-size: 0.8em;
      color: white;
      text-align: center;
      border-bottom: 1px solid white;
    }

    .navigation {
      text-align: right;

      position: absolute;

      bottom: 20px;
      height: 20px;
      left: 5px;
      right:5px;

      button {
        font-size: 10px;
      }
    }

  }
  //
  .front {
    transform: rotateY(180deg);

    &.active {
      transform: rotateY(0deg);
    }


    .word {
      color: darkseagreen;
      font-size: 1.5em;
      text-align: center;
      min-height: 70px;
    }

    .progress {
      position: absolute;
      bottom: 0;
      height: 8px;
      left: 0;
      right: 0;
      background-color: red;
      border-radius: 0;
    }

    .data {
      padding: 10px;
      font-size: 0.6em;

      .title {
        color: yellow;
      }
      .stats {
        display: flex;
        align-content: space-between;
        color: white;
        flex-wrap: wrap;

        .row {
          flex-direction: row;

        }

        label {
          flex: 1
        }
      }

    }
  }

  .back {
    transform: rotateY(180deg);

    h2 {
      color:tomato;
      text-align: center;
    }

    &.active {
      transform: rotateY(0deg);
    }
  }


}

/*
.container {
  margin: 10vh auto;
  justify-content: center;
  display: flex;
  flex-flow: row wrap;

}
.main {
  display: flex;
  margin: 0.5em;
  transition: 0.5s all ease;
  transform-style: preserve-3d;
  position: relative;
  cursor: pointer;
  width: 33.3%;
  min-width: 200px;
  max-width: 350px;
  height: 260px;
  box-shadow: 1px 1px 5px #000;
}
.main .front,
.main .back {
  background: #34495e;
  position: absolute;
  width: 100%;
  min-width: 200px;
  max-width: 350px;
  height: 260px;
  transition: 0.5s all ease;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  backface-visibility: hidden;
}
.main .front .word {
  font-size: 25px;
  margin: 10px 0
}

.main .front .progress {
  position: absolute;
  bottom: 0;
  height: 8px;
  left: 0;
  right: 0;
  background-color: red;
  border-radius: 0;
}

.main .front .stats {
  display: flex;
}

.main .front .data-wrapper,
.main .back .data-wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 140px;
  background: #fff;
  color: #ccc;
}
.main .front .data-wrapper .data,
.main .back .data-wrapper .data {
  color: #000;
  width: 80%;
  margin: 2em auto;
}
.main .front .data-wrapper .data .title,
.main .back .data-wrapper .data .title {
  font-weight: bold;
  font-size: 18px;
}
.main .front .data-wrapper .circle,
.main .back .data-wrapper .circle {
  color: #fff;
  position: absolute;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  font-weight: bold;
  background: #019875;
  top: -1.5em;
  left: 42%;
}
.main .icon {
  font-size: 10em;
  padding: 0.2em 0 0 0;
}
.main .front {
  text-align: center;
  color: #fff;
}
.main .back {
  color: #fff;
  transform: rotateY(180deg);
}
.main .back .social {
  width: auto;
  bottom: 0;
  margin: auto;
  text-align: center;
}
.main .back .social i {
  margin: 5px;
}
.main .back .skills {
  margin: 0 auto;
  text-align: center;
  padding: 1.5em;
}

.main .front .active {
  transform: rotateY(180deg);
  z-index: 2;
}
.main .back .active {
  transform: rotateY(0deg);
}
*/
