<div class="container" style="margin: 0">
  <div class="main">
    <div class="front">
      <div class="">NL - FR</div>
      <div class="word">{{ element.languageFrom }}</div>
      <div class="data-wrapper">
        <div class="circle">10</div>
        <div class="data">
          <span class="title">Stats</span>
          <div class="stats">
            <div>turns</div>
            <div>5</div>
            <div>knowledge</div>
            <div>5</div>
          </div>

        </div>
      </div>
      <div class="progress"></div>
    </div>
    <div class="back">
      <div class="skills">
        <h2>{{element.languageTo}}</h2>
      </div>
    </div>
  </div>
</div>
