@import "colors-main";

:host {
  display: flex;
  flex-direction: column;
}

.question {
  text-align: center;
  font-size: 60px;
  margin: 10px;
}

.answer {
  text-align: center;
  font-size: 60px;
  margin: 10px;
  display: flex;

  justify-content: space-between;

  input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $main-color;
    width: 100%;
    color: white;
    text-align: center;

    &:focus {
      outline: none;

    }

  }
}


.previous {
  font-size: 2em;
  text-align: center;

  .question {
    font-size: 2em;
    color: cornflowerblue;
  }
  .correct {
    font-size: 2em;
    color: forestgreen;
  }
  .error{
    font-size: 2em;
    color:orangered;
  }
}
