<h2>
  Manage languages
</h2>

<div class="flex-content row">
  <div class="table">
    <div class="table-row header">
      <div class="text">From</div>
      <div class="text">To</div>
    </div>
    <div class="table-row">
      <div class="text">Nederlands</div>
      <div class="text">Frans</div>
    </div>
  </div>

  <div class="panel">
    <div class="header">
      <div class="title">
        Create new language pair
      </div>
      <div class="actions">
        +
      </div>
    </div>
    <div class="formdata content">
      <div class="row">
        <span class="label">From</span><input id="username" type="text" #username>
      </div>
      <div class="row">
        <span class="label">To</span><input id="password" type="text" #password>
      </div>
    </div>
  </div>

</div>


