<div class="card">
  <div *ngIf="state === 'readonly'">
    <span class="content" (click)="doOpenLanguage()">
      <div class="from">{{languagePairCard.languageFrom}}</div>
      <div class="to">{{languagePairCard.languageTo}}</div>

    </span>
    <div class="actions">
      <span (click)="toUpdate()" class="action fa fa-cross">u</span>
      <span class="action fa fa-cross">b</span>
      <span class="separator fa fa-cross"></span>
      <span class="action fa fa-cross">c</span>
    </div>
  </div>
  <div *ngIf="state === 'new'">
    <div class="content">

      <input placeholder="from" type="text" #languageFrom>
      <input placeholder="to" type="text" #languageTo>
      <span (click)="doCreateLanguagePair(languageFrom, languageTo)" class="action">+</span>
    </div>
  </div>
  <div *ngIf="state === 'update'">
    <div class="content">

      <input placeholder="from" type="text" #languageFromUpdate>
      <input placeholder="to" type="text" #languageToUpdate>
      <span (click)="doUpdateLanguagePair(languageFromUpdate, languageToUpdate)" class="action">s</span>
    </div>
  </div>
</div>
