
<div class="flex row">

  <div class="flexelement">

    <div class="section rich">
      <h1 class="title">Recently added words</h1>
      <app-word-pair-list [wordPairs]="latestWords"></app-word-pair-list>
    </div>

  </div>
  <div class="flexelement">
    <div class="actions">
      <button class="btn">load data</button>
    </div>
    <div class="section rich">
      <h1 class="title">Latest lessons</h1>
      <app-lesson-list [lessons]="latestLessons"
                       (openLesson)="openLesson($event)"
      ></app-lesson-list>
    </div>
  </div>
</div>
