/* You can add global styles to this file, and also import other style files */

@import "styles/colors";
@import "styles/common";
@import "styles/components.scss";

body {
  font-family: 'Roboto', sans-serif;
  background-color: $main-color;
  color: $main-color-inverse;
}


.debug {
  border: 1px dashed palegoldenrod;
  span {
    padding: 20px;
  }
}
