<div class="main">
  <div class="login front" [ngClass]="{'active' : loginActive}">

    <!--<div class="wrapper">-->

    <div class="title">Login</div>
    <div class="content">
      <label> <span>Username </span><input type="text" placeholder="username" #username value="tom"></label>
      <label> <span>Password </span><input type="password" placeholder="password" #password value="abc"></label>
    </div>
    <!--</div>-->

    <!--<div class="content">-->
    <!--</div>-->
<!---->
    <div class="navigation">
      <button class="btn btn-primary" (click)="login(username, password)">Login</button>
      <button class="btn btn-primary" (click)="toggle()">Register</button>
    </div>
  </div>

  <div class="register back " [ngClass]="{'active' : !loginActive}">
    <div class="title">Register</div>
    <div class="content">
      <pol-create-user></pol-create-user>
    </div>

<!---->
    <div class="navigation">
      <button class="btn btn-primary" (click)="toggle()">Cancel</button>
    </div>

  </div>
</div>
