<div class="card-row">
  <mat-card>
    <mat-card-title>
      latest words
    </mat-card-title>
    <mat-card-content>
      <div *ngFor="let a of latestTranslations$ | async" class="flex flex-row">
        <span>{{a.languageA}}</span>
        <span>{{a.languageB}}</span>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>
      lessons




    </mat-card-title>
    <mat-card-content>
      <div *ngFor="let a of lessonHeaders$ | async" class="flex flex-row">
        <a class="action-link" (click)="deleteLesson(a)">
          <i class="icofont-bin"></i>
        </a>

        <span class="link" [routerLink]="['/home', 'student', 'lesson', a.id]">{{a.name}}</span>




        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">

          <button mat-menu-item  [routerLink]="['/home', 'student', 'lesson', languagePairId, a.id, 'practice']">
            <fa-layers fixedWidth="true" >
              <fa-icon [icon]="['fas','play']" ></fa-icon>
              <fa-icon [icon]="['fas','edit']" [inverse]="true"  transform="shrink-10" ></fa-icon>
            </fa-layers>
            <span>Practice</span>
          </button>
          <button mat-menu-item  [routerLink]="['/home', 'student', 'lesson', languagePairId, a.id, 'practice', 'multiple-choice']">
            <fa-layers fixedWidth="true" >
              <fa-icon [icon]="['fas','play']" ></fa-icon>
              <fa-icon [icon]="['fas','list']" [inverse]="true"  transform="shrink-10" ></fa-icon>
            </fa-layers>
            <span>Practice Multiple choice</span>
          </button>
          <button mat-menu-item  (click)="generateLessonPdForLesson(a.id, false)" >
            <fa-layers fixedWidth="true" >
              <fa-icon [icon]="['fas','redo']" ></fa-icon>
              <fa-icon [icon]="['fas','circle']"  transform="shrink-6" ></fa-icon>
              <fa-icon [icon]="['fas','file-pdf']" [inverse]="true"  transform="shrink-10"></fa-icon>
            </fa-layers>
            <span>Pdf practice</span>
          </button>
          <button mat-menu-item  (click)="generateLessonPdForLesson(a.id, true)" >
            <fa-layers fixedWidth="true" >
              <fa-icon [icon]="['fas','undo']" ></fa-icon>
              <fa-icon [icon]="['fas','circle']"  transform="shrink-6" ></fa-icon>
              <fa-icon [icon]="['fas','file-pdf']" [inverse]="true"  transform="shrink-10"></fa-icon>
            </fa-layers>
            <span>Pdf practice reversed</span>
          </button>
          <button mat-menu-item  (click)="downloadLesson(a.id)" >
            <fa-layers fixedWidth="true" >
            <fa-icon [icon]="['fas','download']"></fa-icon>
            </fa-layers>
            <span>Download Lesson</span>
          </button>
          <button mat-menu-item  (click)="resetLessonPractice(a.id)" >
            <fa-layers fixedWidth="true" >
            <fa-icon [icon]="['fas','recycle']"></fa-icon>
            </fa-layers>
            <span>Reset</span>
          </button>


        </mat-menu>


      </div>
      <div class="flex flex-column">
        <div class="flex flex-row">
          <input type="text" #newLesson> <button (click)="createLesson(newLesson)">create</button>
        </div>
      <input type="file"  #file (change)="onFilesAdded()" multiple>

      </div>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>
      Upload lesson
    </mat-card-title>
    <mat-card-content>


       <button (click)="generateJournalPdf()">JOURNAL PDF</button>
    </mat-card-content>
  </mat-card>

</div>

