$main-color: black;  //default text color
$main-color-inverse: white; //default background for text

$main-color-20: rgba($main-color ,.2);

$color-highlight: deeppink; //hover color for links
$color-active: royalblue; //active options in menu bars

$correct-color: royalblue; //correct translations
$incorrect-color: darkred; //incorrect translations

.correct {
  color: $correct-color;
}

.incorrect {
  color: $incorrect-color;
}

//$header-color: red;
//
//$accent-1: purple;
//$accent-2: navy;
//
//$popup-color: $accent-1;
//
//$background: wheat;
//
//$transparent-20: rgba(0, 0, 0, .2);
//$transparent-50: rgba(0, 0, 0, .5);
//$main-color: white;
//
//$icon-correct: greenyellow;
//
//
