@import "colors-main";
@import "global-mixins";

.practice-box{
  font-size: 80px;
  display: flex;
  flex-direction: column;
  font-family: 'Shadows into light', sans-serif;

  .options{
    display:flex;
    flex-direction: row;

    font-size: 12px;

    @include action-highlight;
    a {
      margin: 5px;

      &.active {
        color: $color-active;
      }
    }
  }
  .question{
    display: flex;
    justify-content: center;
  }
  .answer{
    display: flex;
    justify-content: center;
    align-items: baseline;

    input {

      width: 100%;
      border: none;
      border-bottom: 1px solid $main-color;
      text-align: center;

      &:focus{
        outline: none;
      }


    }

    .fa {
      font-size: 30px;
    }
  }
  .feedback{
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    span {
      margin: 0 5px;

    }
  }
}
