@import "colors-main";

@mixin transparent-input {
  background-color: transparent;
  border: 1px solid $main-color-20;
  border-radius: 5px;
  color: white;
  padding: 0 5px;
  margin: 0 5px;

  &::placeholder{
    color: gray;
  }
}


@mixin transparent-label-span {
  width: 100px;
  display: inline-block;
  text-align: right;
  margin: 0 10px;
  color: white;
}

@mixin action-highlight{
  a {
    color: $main-color;
    margin: 0 3px;
    text-decoration: none;


    &:hover {
      cursor: pointer;
      color: $color-highlight;
    }
  }
}
