<div class="box">
  <h1>
    practiced words for {{ languagePracticeJournal?.yearMonth }}
  </h1>
</div>

<div class=" box">
  <h2>Woorden</h2>
  <button class="btn btn-primary" (click)="download()">dl</button>
  <input type="date" #from>
  <input type="date" #until>
  <button class="btn btn-primary" (click)="search(from, until)">FIND</button>


  <div class="table-row header">
    <div class="text timestamp">Timestamp</div>
    <div class="wrapper text-2">
      <div class="text">Question</div>
      <div class="text">Given Answer</div>
      <div class="text">Expected Answer</div>
    </div>
    <div class="text center">Correct</div>
  </div>

  <div class="table-row" *ngFor="let t of languagePracticeJournal?.translationJournalList">
    <div class="text timestamp">{{t.timestamp}}</div>
    <div class="wrapper text-2">
      <div class="text">{{t.question}}</div>
      <div class="text">{{t.givenAnswer}}</div>
      <div class="text">{{t.expectedAnswer}}</div>
    </div>
    <div class="text center"><span class="fa" [ngClass]="{'fa-check': t.correct, 'fa-times':!t.correct}"></span></div>
  </div>
</div>
