<div class="flex-content row">
  <div class="table">
    <div class="table-row header">
      <div class="text">From</div>
      <div class="text">To</div>
      <div class="text">Actions</div>
    </div>
    <div class="table-row" *ngFor="let l of lesson?.translations ">
      <div class="text">{{l.question}}</div>
      <div class="text">{{l.solution}}</div>
      <div class="text actions">
        <a class="fa fa-times" (click)="removeFromLesson(l.translationId)"></a>

      </div>
    </div>
  </div>

  <div class="sidebar">


    <div class="panel">
      <div class="header">
        <div class="title">
          Add Words to lesson
        </div>

      </div>
      <div class="content">
        <div class="table">
          <pol-table-navigation [control]="getControl()"></pol-table-navigation>
          <div class="table-row header">
            <div class="text">From</div>
            <div class="text">To</div>
            <div class="text">Actions</div>
          </div>
          <div class="table-row" *ngFor="let l of filteredTranslations?.data ">
            <div class="text">{{l.question}}</div>
            <div class="text">{{l.answer}}</div>
            <div class="text actions">
              <a class="fa fa-plus" (click)="addToLesson(l.translationId)"></a>

            </div>
          </div>
        </div>

      </div>
    </div>





</div>



