<div class="panel">
  <div class="header">
    <div class="title">
      Login
    </div>
    <div class="actions">

    </div>
  </div>
  <div class="formdata content">
    <form  (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="row">
        <span class="label">First name</span><input type="text" ngModel name="firstName" required>
      </div>
      <div class="row">
        <span class="label">Last name</span><input type="text" ngModel name="lastName" required>
      </div>
      <div class="row">
        <span class="label">Username</span><input type="text" ngModel name="username" required>
      </div>
      <div class="row">
        <span class="label">Password</span><input type="password" ngModel name="password" required>
      </div>
      <div class="row">
        <span class="label">Usertype</span><input type="text" ngModel name="type" required>
      </div>
      <div class="row">
        <span class="label">Email</span><input type="text" ngModel name="email" required>
      </div>
      <div class="buttons">
        <button type="submit" [disabled]="!f.valid">CREATE</button>

      </div>
    </form>
  </div>


</div>
