<div class="box">
  <h1>Beheer talen</h1>
</div>

<div class="create box">

  <h2 class="title">
    Nieuwe Taal
  </h2>
  <div class="form">
    <input type="text" #languageFrom>
    <input type="text" #languageTo>
    <button class="btn btn-primary" (click)="createLanguagePair(languageFrom, languageTo)"> <span class="fa fa-plus"></span> </button>

  </div>
</div>


<div class="pairs box">
  <h2 class="title">
    Beschikbare talen
  </h2>
  <div *ngFor="let pair of languagePairs">

    <a [routerLink]="['/manage', 'translations', pair.id]" class="fa fa-arrows-h"></a>
    <a [routerLink]="['/manage', 'history', pair.id]" class="fa fa-history"></a>

    <span>{{pair.languageFrom}} - {{pair.languageTo}}</span>
  </div>
</div>
