<div class="box">
  <h2>
    Alle lessen voor taal
  </h2>

</div>

<div class="box">
  <input type="text" placeholder="name" #lessonTitle>
  <input type="text" placeholder="numwords" #numberOfWords>
  <button class="btn btn-primary" (click)="autocreateLesson(lessonTitle, numberOfWords)">create auto</button>
  <button class="btn btn-primary" (click)="createNewLesson(lessonTitle)">create</button>
</div>

<div class="box">
  <div class="language-row" *ngFor="let lesson of lessonForLanguagePair">
    <div class="actions">
      <a [routerLink]="['../../list', languagePairId, lesson.id]"><span class="fa fa-list"></span></a>
      <a [routerLink]="['../../take',  lesson.id]"><span class="fa fa-rebel"></span></a>
      <a [routerLink]="['../../practice', lesson.id]"><span class="fa fa-recycle"></span></a>
    </div>
    <div class="pair">
      {{lesson.name}}
    </div>
  </div>
</div>
