$header-color: red;

$accent-1: purple;
$accent-2: navy;

$popup-color: $accent-1;

$background: wheat;

$transparent-20: rgba(0, 0, 0, .2);
$transparent-50: rgba(0, 0, 0, .5);
$main-color: white;
$main-color-20: rgba($main-color ,.2);

$icon-correct: greenyellow;


