<div class="card-row">
  <mat-card>
    <mat-card-header>
      latest words
    </mat-card-header>
    <mat-card-content>
<!--      <div *ngFor="let a of latestTranslations | async">-->
<!--        {{a.languageA}} - {{a.languageB}}-->
<!--      </div>-->
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      lessons
    </mat-card-header>
    <mat-card-content>
      <div *ngFor="let a of lessonHeaders$ | async">
        <span [routerLink]="['/home', 'student', 'lesson', a.id]">{{a.name}}</span>
<!--        <button (click)="deleteLesson(a)"> del</button>-->
      </div>
      <input type="text" #newLesson> <button (click)="createLesson(newLesson)">create</button>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      Upload lesson
    </mat-card-header>
    <mat-card-content>
      <input type="file"  #file (change)="onFilesAdded()" multiple>
    </mat-card-content>
  </mat-card>

</div>
