
<div class="box">

  <div class="question">
    {{currentWord?.question}}
  </div>

  <div class="answer">
    <span class="fa fa-chevron-right"></span>
    <input type="text" #answerGiven (keyup.enter)="checkAnswer(answerGiven)">
    <button class="btn btn-primary" (click)="checkAnswer(answerGiven)"><span class="fa fa-check"></span></button>
  </div>


  <div class="previous" *ngIf="previous && previous.correctAnswer">
    <span class="fa fa-check-circle correct"></span> <span class="question">{{previous?.question}}:</span> <span class="correct">{{previous?.givenAnswer}}</span>
  </div>
  <div class="previous" *ngIf="previous && !previous.correctAnswer">
    <span class="fa fa-times-circle error"></span> <span class="question">{{previous?.question}}:</span> <span class="error" style="text-decoration: line-through">{{previous?.givenAnswer}}</span> <span class="correct">{{previous?.expectedAnswer}}</span>
  </div>


</div>
