
<mat-card *ngIf="lesson$ | async as lesson ">
  <mat-card-header>
    {{lesson.name}}
  </mat-card-header>
  <mat-card-content>
    <div>


      <form [formGroup]="form" class="create-card-form">
        <mat-form-field class="full-width">
          <input matInput placeholder="Language from" formControlName="question">
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput placeholder="Language to" formControlName="solution">
        </mat-form-field>
      </form>
      <button mat-mini-fab color="warn">
        <mat-icon class="add-course-btn" (click)="createTranslation(lesson)">add</mat-icon>
      </button>

    </div>
    <div *ngFor="let t of lesson.translations">
      <button mat-flat-button color="warn" (click)="removeWordFromLesson(t.id, lesson.id)">
        <mat-icon>delete</mat-icon>
      </button>
      <span>{{t.languageA}} - {{t.languageB}}</span>
    </div>
  </mat-card-content>
</mat-card>

