@import "colors-main";
@import "global-mixins";
@mixin vertical {
  flex-direction: column;
  div {
    flex-grow: 0;
    width: 100%;
  }
}

$text-width: 180px;
$margin: 10px;
$num-width: 10px;

:host{

  .controls {
    text-align: right;
    span {
      margin: 0 5px;
    }
    input {
      @include transparent-input;
    }
  }

  .content {

    margin: 1px 5px;
  }

  .translations{
    flex: 1;
    margin: 1px 5px;
  }
}




