<mat-card class="flex-item center main-content-large " *ngIf="lesson$ | async as lesson ">
  <mat-card-title>
    {{lesson.title }}
  </mat-card-title>
  <mat-card-content>


    <div class="flex flex-column">


      <div *ngFor="let t of lesson.translations" class="flex-item flex-col-2">
        <app-translation-editor [languageA]="t.languageA.join(';')" [languageB]="t.languageB.join(';')" [lessonId]="lesson.id"
                                [languagePairId]="lesson.languagePairId"
                                [translationId]="t.id"></app-translation-editor>
      </div>

      <fa-icon [icon]="['fas','plus']" size="4x" (click)="newPotentialTranslation(lesson)"></fa-icon>
    </div>

  </mat-card-content>
</mat-card>

