@import "colors";

span.link {
  margin: 1px 5px;

  &:hover {
    cursor: pointer;
  }
}

a.action-link {
  text-decoration: none;
  font-weight: bold;
  color: $color-highlight;
}

.font-center {
  text-align: center;
}


.font-right {
  text-align: right;
}


.button {
  cursor: pointer
}

.mat-menu-content button fa-layers {
  margin: 0 25px 0 5px;
  color: $color-main-2;
  font-size: 20px;
}
