<div class="paging">
  <span class="action fa fa-backward" (click)="firstPage()"></span>
  <span class="action fa fa-step-backward" (click)="previousPage()"></span>
  <span class="action input-image">
        <span class="fa fa-table"></span>
        <input type="text" [value]="controls.pageSize">
      </span>
  <span class="action fa fa-step-forward" (click)="nextPage()"></span>
  <span class="action fa fa-forward" (click)="lastPage()"></span>
  <span class="action input-image">
        <span class="fa fa-address-book"></span>
        <input type="text" [value]="controls.currentPage + 1">
        <span> / {{controls.numberOfPages }}</span>
      </span>

</div>
